*{
  margin:0;
}
table{
  width: 100%;
  border-collapse: separate;
}
h3{
  font-family: "Comic Sans", cursive;
  font-style: italic;
  font-size: 25px;
}


.header{
  background-color: #2e4d43;
  padding: 20px;

}
#header1{
  width: 60%;
}
#header2{
  width: 30%;
}
.animation{
  align-items: right;

  animation-name: pulse;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes pulse {
  0%{
    transform: scale(.1);
  }
}

.animation img{
  border-radius: 60%;
}

.navbar{
  /* background-color: #9fbcc2; */
  background-color: #718879;
  border-radius: 2px;
  box-shadow: 0px 1px 6px 1px #696969;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  right:0;
  z-index: 500;
}
#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#navbar li{
  float: left;
  padding: 10px 20px;
}
#navbar li a{
  display: block;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
}
#navbar li a:hover{
  background-color: #555;
  color: white;
}
#navbar a{
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  font-family: "Comic Sans", cursive;
}

.welcome{
  background-color: #fff;
  padding: 15px;
  color: #1b2e28;
}
#welcome tr,td{
  width: 50%;
  height: 100%;
  padding: 20px;
  text-align: center;
}
#welcome1{
  width: 30%;
}
#welcome2{
  width: 60%;
}
.message{
  text-align: left;
  font-size: 18px;
  background-color: #fdfbfb;
  border: 3px solid #fdfbfb;
  border-radius: 50px;
  box-shadow: 0px 3px 15px 1px #2e4d43;
}

.picture img{
  border-radius: 5px;
  box-shadow: -10px 10px #2e4d43;
}

#cell img{
  height: 400px;
  width: 600px;
  position: relative;
  box-shadow: 0px 10px #2e4d43;
}
#cell{
  text-align: right;
}

.cv{
  background-color: #f8ecec;
  padding: 15px;
  color: #1b2e28;
}

.stage img:nth-of-type(1) {
  position: relative;
  animation-name: changer;
  animation-delay: 0s;
  animation-duration: 1s;
  z-index: 2;
}
.stage img:nth-of-type(n+2) {
  position: absolute;
  top:0;
  left: 0;
  display: none;
  z-index: 1;
}
@keyframes changer {
  opacity: 1.0;
}

.turn {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


#big-table td{
  height: 10%;
  width: 10%;
}
#big-table th{
  width: 5%;
  height: 10%;
  padding: 5px;
}



.style1{
  /* background-color: #f8effb; */
  background-color: #fdf9f9;
}
.style2{
  /* background-color: #fdf9f9; */
  background-color: #ecf8f8;
}
.style3{
  /* background-color: #f2f2fa; */
  background-color: #d5dbd9;
}



.extra{
  cursor: pointer;
  border: 4px solid #cccccc;
  border-radius: 30px;
  box-shadow: 0px 2px 14px 1px #545454;
}
.extra:hover{
  border: 4px solid #cff5ff;
}
.extra .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #2e4d43;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  z-index: 10;
}
.extra .popuptext::after {
  content: "";
  position: absolute;
  left: -4px;
  top: 15px;
  border-top: 5px solid transparent;
  border-right: 5px solid #2e4d43;
  border-left: none;
  border-bottom: 5px solid transparent;
}
.extra .show {
  visibility: visible;
}


.hobby{
  background-color: #ffffff;
  padding: 15px;
  color: #1b2e28;
}
#hobby table{
  border-collapse: collapse;
}
#hobby td{
  border: 3px solid #2e4d43;
  border-style: solid none solid none;
}

.contacts{
  /* background-color: #9fbcc2; */
  background-color: #2e4d43;
  padding: 15px;
  color: #ddd6d3;
}
#contacts table{
  border-collapse: collapse;
}
#contacts td{
  width: 33%;
  border: 3px solid #ddd6d3;
  border-style: none dashed none dashed;
}
